#header {
    height : 50px;
    background :  #fff;
    color:  #10284e ;
}

/* #branding h1 {
    color: #fff;
}
a:link,
a:visited {
    color: #fff;
}

div.breadcrumbs {
    background: #30caa0;
    color:#10284e;
}

div.breadcrumbs a {
    background: #30caa0;
    color:#fff;
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
    color: #fff;} */

/* div#container{
    background: #fff;
    
}

div#content{
    background: #fff;
    color : #10284e ;
    
    
}




h1 {
    color: #10284e; 
}

body {
    
    background-color: white;
    color: black;
    
  }
  
.dark-mode {
    background-color: white;
    color: black;
  } */
